* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  background: palevioletred;
}

.logo {
  color: papayawhip;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  line-height: 4;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  white-space: nowrap;
}

.nav-links li {
  list-style: none;
  padding-left: 2rem;
}

.nav-links a {
  color: papayawhip;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: papayawhip;
  margin: 5px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

@media screen and (max-width: 1024px) {
  width: 60%;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    background-color: palevioletred;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

#map {
  height: calc(100% - 16vh);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: palevioletred;
  text-align: center;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-timing {
  border: 1px solid papayawhip;
  width: 500px;
  border-radius: 5px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: red;
  color: white;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: auto 1rem;
}

.footer .footer-socials {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: auto 1rem;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-socials a {
  color: white;
}

.footer .footer-socials a:hover {
  color: papayawhip;
}

/* The Modal BIKE INFOS */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(216, 112, 147, 0.288);
}

.modal-content {
  background-color: papayawhip;
  margin: auto;
  padding: 20px;
  border: 2px solid palevioletred;
  width: 80%;
  border-radius: 5px;
  display: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-content button {
  background: palevioletred;
  border: 1px solid palevioletred;
  padding: 0.5rem;
  border-radius: 3px;
  margin: 1rem auto;
  color: papayawhip;
  cursor: pointer;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.modal-content button:hover {
  background: papayawhip;
  color: palevioletred;
  border: 1px solid palevioletred;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid palevioletred;
  border-radius: 20%;
  padding: 0.3rem;
  color: palevioletred;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.close:hover,
.close:focus {
  color: papayawhip;
  text-decoration: none;
  cursor: pointer;
  background: palevioletred;
}

.how-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(216, 112, 147, 0.288);
}

.how-modal-content {
  background-color: papayawhip;
  margin: auto;
  padding: 20px;
  border: 2px solid palevioletred;
  width: 80%;
  border-radius: 5px;
  display: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-close {
  float: right;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid palevioletred;
  border-radius: 20%;
  padding: 0.3rem;
  color: palevioletred;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.how-close:hover,
.how-close:focus {
  color: papayawhip;
  text-decoration: none;
  cursor: pointer;
  background: palevioletred;
}
/*# sourceMappingURL=styles.css.map */