$base-color: #00BA51
$base-trans: rgba(0, 186, 81, 0.288)
$base-strong: rgb(0, 105, 46)
$text-color: #333
$main-text: #feffff


*
    box-sizing: border-box
    padding: 0
    margin: 0

html, body
    height: 100%
    font-size: 16px
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

nav 
    display: flex
    justify-content: space-around
    align-items: center
    min-height: 8vh
    background: $base-color

.logo 
    color: $main-text
    text-transform: uppercase
    letter-spacing: 5px
    font-size: 20px
    line-height: 4
    cursor: pointer


.nav-links 
    display: flex
    width: 30%
    justify-content: space-around
    white-space: nowrap


.nav-links li 
    list-style: none
    padding-left: 2rem


.nav-links a 
    color: $main-text
    text-decoration: none
    letter-spacing: 3px
    font-weight: bold
    font-size: 14px
    &:hover
        color: $base-strong

.burger 
    display: none
    cursor: pointer

.burger div 
    width: 25px
    height: 3px
    background-color: $main-text
    margin: 5px
    transition: all 0.3 ease

@media screen and (max-width: 1024px)
    .nav-links
    width: 60%

@media screen and (max-width: 768px) 
    body 
        overflow-x: hidden
    .nav-links li 
        opacity: 0
    .burger 
        display: block
    .nav-active 
        transform: translateX(0%)
    .footer-timing
        border: 1px solid $main-text
        border-radius: 5px
        height: 40px
        display: flex
        align-items: center
        justify-content: center
        background-color: $base-strong
        color: white
        margin: auto 3rem
        width: 80%
    .footer-socials
        opacity: 0


@-webkit-keyframes navLinkFade 
    from 
        opacity: 0
        transform: translateX(50px)
    to 
        opacity: 1
        transform: translateX(0px)



@keyframes navLinkFade 
    from 
        opacity: 0
        transform: translateX(50px)
    
    to 
        opacity: 1
        transform: translateX(0px)

.toggle .line1 
    transform: rotate(-45deg) translate(-5px, 6px)

.toggle .line2 
    opacity: 0

.toggle .line3 
    transform: rotate(45deg) translate(-5px, -6px)

#map
    height: calc(100% - 16vh)

.footer
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    background-color: $base-color
    text-align: center
    height: 8vh
    display: flex
    align-items: center
    justify-content: center
    .footer-timing
        border: 1px solid $main-text
        border-radius: 5px
        height: 40px
        display: flex
        align-items: center
        justify-content: center
        background-color: $base-strong
        color: white
        flex: 2
        margin: auto 3rem
    .footer-socials
        flex: 1
        margin: auto 1rem
        height: 40px
        display: flex
        justify-content: space-around
        align-items: center
        a
            color: $main-text
            &:hover
                color: $base-strong

// The Modal BIKE INFOS 
.modal 
    display: none /* Hidden by default */
    position: fixed 
    z-index: 1 
    padding-top: 100px 
    left: 0
    top: 0
    width: 100% 
    height: 100% 
    overflow: auto 
    background-color: $base-trans

.modal-content 
    background-color: $main-text
    margin: auto
    padding: 20px
    border: 2px solid $base-color
    width: 80%
    height: 80%
    border-radius: 5px
    display: flex-start
    flex-direction: column
    justify-content: center
    align-items: center
    color: $text-color
    button
        background: $base-color
        border: 1px solid $base-color
        padding: 0.5rem
        border-radius: 3px
        margin: 1rem auto
        color: $main-text
        cursor: pointer
        transition: ease 0.5s
        &:hover
            background: $main-text
            color: $base-color
            border: 1px solid $base-color


.close 
    color: $text-color
    float: right
    font-size: 2rem
    font-weight: bold
    border: 1px solid $base-color
    border-radius: 20%
    padding: 0.3rem
    color: $base-color
    transition: ease 0.5s

.close:hover,
.close:focus 
    color: $main-text
    text-decoration: none
    cursor: pointer
    background: $base-color

// MODAL HOW IT WORKS ########################################

.how-modal
    display: none /* Hidden by default */
    position: fixed 
    z-index: 1 
    padding-top: 100px 
    left: 0
    top: 0
    width: 100% 
    height: 100% 
    overflow: auto 
    background-color: $base-trans
    color: $base-color

.how-modal-content 
    background-color: $main-text
    margin: auto
    padding: 20px
    border: 2px solid $base-color
    width: 80%
    height: 80%
    border-radius: 5px
    display: flex-start
    flex-direction: column
    justify-content: center
    align-items: center

.how-close 
    float: right
    font-size: 2rem
    font-weight: bold
    border: 1px solid $base-color
    border-radius: 20%
    padding: 0.3rem
    color: $base-color
    transition: ease 0.5s


.how-close:hover,
.how-close:focus 
    color: $main-text
    text-decoration: none
    cursor: pointer
    background: $base-color


// CONTACT MODAL ##########################################################

.contact-modal
    display: none /* Hidden by default */
    position: fixed 
    z-index: 1 
    padding-top: 100px 
    left: 0
    top: 0
    width: 100% 
    height: 100% 
    overflow: auto 
    background-color: $base-trans
    color: $base-color

.contact-modal-content 
    background-color: $main-text
    margin: auto
    padding: 20px
    border: 2px solid $base-color
    width: 80%
    height: 80%
    border-radius: 5px
    display: flex-start
    flex-direction: column
    justify-content: center
    align-items: center

.contact-close 
    float: right
    font-size: 2rem
    font-weight: bold
    border: 1px solid $base-color
    border-radius: 20%
    padding: 0.3rem
    color: $base-color
    transition: ease 0.5s


.contact-close:hover,
.contact-close:focus 
    color: $main-text
    text-decoration: none
    cursor: pointer
    background: $base-color


// BIKE MODAL ##########################################################

.bike-modal
    display: none /* Hidden by default */
    position: fixed 
    z-index: 1 
    padding-top: 100px 
    left: 0
    top: 0
    width: 100% 
    height: 100% 
    overflow: auto 
    background-color: $base-trans
    color: $base-color

.bike-modal-content 
    background-color: $main-text
    margin: auto
    padding: 20px
    border: 2px solid $base-color
    width: 80%
    height: 80%
    border-radius: 5px
    display: flex-start
    flex-direction: column
    justify-content: center
    align-items: center

.bike-close 
    float: right
    font-size: 2rem
    font-weight: bold
    border: 1px solid $base-color
    border-radius: 20%
    padding: 0.3rem
    color: $base-color
    transition: ease 0.5s


.bike-close:hover,
.bike-close:focus 
    color: $main-text
    text-decoration: none
    cursor: pointer
    background: $base-color

// parking MODAL ##########################################################

.parking-modal
    display: none /* Hidden by default */
    position: fixed 
    z-index: 1 
    padding-top: 100px 
    left: 0
    top: 0
    width: 100% 
    height: 100% 
    overflow: auto 
    background-color: $base-trans
    color: $base-color

.parking-modal-content 
    background-color: $main-text
    margin: auto
    padding: 20px
    border: 2px solid $base-color
    width: 80%
    height: 80%
    border-radius: 5px
    display: flex-start
    flex-direction: column
    justify-content: center
    align-items: center

.parking-close 
    float: right
    font-size: 2rem
    font-weight: bold
    border: 1px solid $base-color
    border-radius: 20%
    padding: 0.3rem
    color: $base-color
    transition: ease 0.5s


.parking-close:hover,
.parking-close:focus 
    color: $main-text
    text-decoration: none
    cursor: pointer
    background: $base-color


#stations
    height: 500px



